﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<WebBanHangLTT2.Models.Product>
<head>
    <header class="bg-success text-white text-center py-4">
        <h1>Sản Phẩm</h1>
    </header>
</head>
<a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Add"><button type="submit" class="btn btn-primary">Thêm Sản Phẩm</button></a>


  

    <div class="row">
    <div class="col-md-9">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <!--Sản phẩm-->
        @foreach (var product in Model)
        {   
            <div class="col">
                <div class="card">
                <div class="image-product">
                    @if (!string.IsNullOrEmpty(product.ImageUrl))
                    {
                        <img src="@product.ImageUrl" alt="Product Image" style="max-width: 200px;" />
                    }
                    else
                    {
                        <span>No Image</span>
                    }
                </div>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td> 
                <td>@(product.Category != null ? product.Category.Name : "No Category")</td>
                <div class="button-container">
                    <a asp-action="Update" asp-route-id="@product.Id" class="btn btn-success">Update</a>|
                    <a asp-action="Display" asp-route-id="@product.Id" class="btn btn-warning">View</a>|
                    <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                </div>
                </div>
            </div>

        }
        </div>
        </div>
</div>